/* body{
  margin: 0;
} */
.navbar{
  color: white;
  background-color: blue;
  border: 1px solid black;
  text-align: center;
}
.navbar>h1{
  margin: 2px 0;
}
.links{
  margin: 5px 0px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  text-decoration: underline;
  color: cyan;
}
.content>h1{
  font-size: 1.6rem;
   text-align: center;
}